body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.schedule {
    border: 2px solid black;
    box-shadow: 3px 3px 3px black;
    border-radius: 5px;
    caption-side: bottom;
    border-spacing: 5px;
    border-spacing: 0;
}

.schedule th{
    border: thin solid rgb(154, 7, 7);
    background-color: rgb(199, 254, 0);
    padding: 5px;
}
.schedule td{
    border: thin solid rgb(154, 7, 7);
    
    padding: 5px;
}
/*.schedule th, .schedule td{
    border: thin solid rgb(154, 7, 7);
    background-color: rgb(199, 254, 0);
    padding: 5px;
}*/
/*.schedule td{
    border: thin solid blue;
} */

.schedule thead {
    background-color: blue;
    color:rgb(154, 7, 7);
}

.schedule tfoot {
    background-color: grey;
    color:rgb(154, 7, 7);
}

.schedule tr:nth-child(even) {
    background-color: gray;
}