body {
    font-family: fantasy;
}
aside {
    width: 30%;
}
main {
    display: flex;
}
.row {
    display:flex;
}
.card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: thin solid black;
    box-shadow: 3px 3px 3px black;
    width:70%;
    row-gap: 10px;
}
img {
    width: 100%;
}