body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav {
    background-color: brown;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    /*flex-flow: row wrap;*/
}
nav a {
    background-color: chocolate;
    width: 100px;
    margin: 10px;
    display: block;
    color: black;
    padding: 5px 10px;
}
#wrapper {
    width: 900px;
    margin: auto;
}