body {
    font-family: fantasy;
    background-image: url(blueback.jpg);
}
main {
    background-image: url(luffy.png);
    background-repeat: no-repeat;
    background-position: right;
}
.mylist {
    list-style-type:square;
}
.boxa {
    border: 1cm;
}
.fight {
    width: 200px;
}
.fight img {
    width: 100%;
}
header {
    background-color: bisque;
    padding: 30px 10px 15px 0;
    margin-bottom: 25px;
    width: 80%;
    overflow: visible;
}