body {
    font-family: fantasy;
}
main {
    background-image: url(bull.png);
    background-repeat: no-repeat;
    background-position: right;
}
.mylist {
    list-style-type:square;
}
.boxa {
    border: 1cm;
}
.fight {
    width: 200px;
}
.fight img {
    width: 100%;
}
header {
    background-color: bisque;
    padding: 30px 10px 15px 0;
    margin-bottom: 25px;
    width: 80%;
    overflow: visible;
}
.new {
    background-color: aqua;
}
.solo {
    float: left;
    width: 250px;
    border: thin solid black;
    box-shadow: 3px 3px 3px black;
}
.solo img {
    width: 100%;
}
.stop {
    clear: both;
}
.lufimg {
    float: right;
}
.roseimg{
    position: relative;
    top: 30px;
    left: 10px;
}