body {
    font-family: fantasy;
    background-image: url(blueback.jpg);
    background-size: cover;
}
main {
    background-image: url(luffy.png);
    background-repeat: no-repeat;
    background-position: right;
}
.mylist {
    list-style-type:square;
}